<p>
  Category:
<span class="label label-success">
  <%= @category.name %> (total: <%= @category.items.count %>)
</span>
</p>

<% if @category.items != [] %>
  <%= render 'shared/index', obj: @category.items %>
<% else %>
    <div align="center">
      <p>No items available in this category. <%= link_to "Create new item?", new_item_path %></p>
      [ <%= link_to "Back to home", items_path %> ]
    </div>
<% end %>